body {
  background-color: lightblue;
    border: solid black;
}

h1 {
  color: white;
  text-align: center;
    font: bold;
    color: black;
}

p {
  font-family: verdana;
  font-size: 15px;
}

footer {
    font-size: 10px;
    text-align: center;
}

.greatBarrier {
    align-content: center;
    padding-left: 150px;
}

.Points {
    text-align: center;
    margin: auto;
    width: 15%;
}